<h1>Forms</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Form name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @form_types.each do |form_type| %>
      <tr>
        <td><%= form_type.number %></td>
        <td><%= form_type.form_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
